<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/sticky-footer.css">
    <title></title>
  </head>
  <body>

    <div class="container">
      <div class="mt-5 text-center">
        <img src="static/img/goggle.svg" class="img-fluid w-50 mb-3" alt="Responsive image"></img>
      </div>

      <div class="row">
        <div class="col-2 px-0"></div>
        <div class="col-8 px-0">
          <div class="input-group mx-0 mb-3 mt-2">
            <input type="text" id="input-box" class="form-control" placeholder="Enter a word..." aria-label="Username" aria-describedby="basic-addon1">
            <div class="input-group-append">
              <button class="btn btn-primary" style="background-color: #5186ec" id="submit-button">Submit
            </div>
          </div>
          <div id="suggestion-list" class="dropdown mt-0" style="visibility:hidden"></div>
        </div>
        <div class="col-2"></div>
      </div>
      <div id="definitions" class="row justify-content-center" style="visibility:hidden"></div>
    </div>

    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted ">Made with 🧡by <a href="https://github.com/grahamplace">Graham</a> and <a href="https://github.com/ambeale">Andrea</a></span>
      </div>
    </footer>

    <!-- here be dragons -->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <script src="/static/js/suggest.js"></script>
  </body>

</html>
