<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title></title>
  </head>
  <body>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
      </div>
      <input type="text" id="input-box" class="form-control" placeholder="Enter a word..." aria-label="Username" aria-describedby="basic-addon1">
      <button type="button" id="submit-button" class="btn btn-dark">Submit</button>
    </div>
    <h1 id="suggestion" class="display-1"></h1>

    <!-- here be dragons -->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <script src="/static/js/suggest.js"></script>
  </body>
</html>
